.ViewFile{
    text-align: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(126, 120, 165, 0.7),rgba(8,0,58,0.7)), url('../../assets/Counselling.jpg');
    background-Position: center;
    background-Size: cover;
    background-Repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    

  }

  .ViewFile h1{
    color: #fafafa;
  }

.ViewFile {
  padding: 20px;
}

.ViewFile h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ViewFile table {
  width: 100%;
  border-collapse: collapse;
}

.ViewFile th,
.ViewFile td {
  border: 1px solid #ddd;
  padding: 8px;
}

.ViewFile th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #f2f2f2;
  color: rgb(0, 0, 0);
}

.ViewFile button {
  background-color: red;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.ViewFile button:hover {
  background-color: darkred;
}
